  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  background-color:#FCF9EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* background-color**************************************/
.navbar{
  /* background-color: #E9E3D3 !important; */
  background-color: #ffffff !important;

}

.filterBar{
  background-color:#E9E3D3;
}

.profileBookings{
  background-color:#ffffff !important;
}

.bookingCard{
  background-color:#ffffff !important;
}
/**********************************************************/


.nav-link{
  color: black !important;
}

.navbar-brand{
  color: black !important;
}

/*menu aline to right conner*/
.navbar-nav{
  margin-left: auto !important;
}

.smallimg{
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;

}

h1{
  font-size: 20px;
}

h2{
  font-size: 30px !important;
  padding: 10px;
  font-weight: bold m !important;
  text-align: center;
}

p{
  font-size: 16px !important;
}
.btn{
  background-color:black ;
  color:white !important;
  box-shadow: none  !important;
}

.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius:5px;
  padding: 20px !important;
}

.bigimg{
  height: 400px;
  border-radius: 5px !important;
}

input , select, .ant-picker {
  box-shadow:none;
  margin-top: 10px;
  border: 1px solid black !important;
  width:100% !important;
  border-radius: 3px !important;
  height: 35px;
}

.dropdown-toggle{
  border: 0px solid black !important;
}

.ant-picker-input input{
  border: none !important;
}

.landing{
  background-color:black !important;
  height: 100vh;

}

.landingbtn{
  background-color:white !important;
  color:black !important;
  margin-top: 35px;
}

.card{
  /* background-color:#E9E3D3; */
  background-color:#ffffff;
  margin: 0 auto; 
  float: none;
  margin-bottom: 10px
}

.btnHome{
  background-color:#5F4C29 !important;
  color:white !important;
  box-shadow: none  !important;
}

.btnColour{
    background-color:#5F4C29 !important;
    color:white !important;
}

.modal-content{
  background-color:#E9E3D3;
}

.logo{
  height: 80px;
}

.navUp{
  color:rgb(119, 118, 118)
}

.navUp:hover{
  color:#836939;
}

.navUpList{
  margin-right: 100px;
}

.navBarDown{
  color:#392e1a
}

.navBarDown:hover{
  color:#836939;
}
.caroContainer {
  width: 100vw; /* 100% of the viewport width */
  height: 75vh;
  background-color:#28272428;
}
.carousel-inner img {   
  max-width:100%; /* Set the maximum width to 100% */
  height: auto;  
}

/* Reduce the size of the carousel captions */
.carousel-caption {
  background: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background */
  padding: 20px; /* Adjust padding as needed */
  margin-bottom: 10%;
}

/* Center the carousel captions */
.carousel-caption h5,
.carousel-caption p {
  text-align: center;
  color: white; /* Adjust text color as needed */  
}

.footerContainer{
  background-image: url('img/footer.png');
  background-repeat: no-repeat;
  
}

.footerDiv{
  margin-top: 50px;

}

.footerTitle{
  color:white;
  font-weight:900;  
}

.footerDiv .footera{
  color:rgb(214, 213, 213);
  font-weight: 700;
  text-decoration: none;  
}

.footerDiv .footera:hover{
  color:chocolate;
}

.footerLocation{
  background-color:#5F4C29;
  padding: 8px;
  margin-right: 15px;
  color:white;  
  font-weight: 700;

}

.footerCall{
  margin-top: 100px;
  margin-right: 15px;
  background-color:#9B804E;
  padding: 8px;
  color:white;
  font-size: 18px;
  font-weight: 700;
}

.center{
  margin: 0 auto; 
  margin-top: 10px;
  float: none;
}

.formColour{
  background-color:#3B362E;
}

input{
  background-color:#FCF9EF;
}

.formLabel{
  color: aliceblue;
}

.inputFeild{
  background-color:#FCF9EF !important;
}


.hoverRoomCard::before{
  background: hsl(44, 83%, 79%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.hoverRoomCard:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/****Home page***/
.hero{
  width: 100%;
  height:78vh;
  background:#000000a8;
  position: relative;
  padding: 0 5%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content{
  text-align: center;
  align-items:center;
  
}

.content h1{
  font-size: 60px;
  font-weight: bold;
}

.frontP{
  font-size: 20px;
  color:white;
}

.content h1{
  color: #fffffd;
}

.backVideo{
  
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}


@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}

.container2{
  width: 100%;
  height: auto;
  padding: 20px 35px; 
}